__pycache__/
build/
*.egg-info/
*.so
*.mp4
*.png
tmp*
trial*/
*.txt
*.bin
rag_data
data
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea
models/
*.log
dist
fishtts_cloned_voices/
.ipynb_checkpoints/
